/* animation */
@keyframes rainbow { 0% { color: red; opacity: 1; } 14% { color: orange; opacity: 1; } 28% { color: yellow; opacity: 1; } 42% { color: green; opacity: 1; } 57% { color: blue; opacity: 1; } 71% { color: navy; opacity: 1; } 85% { color: indigo; opacity: 1; } 100% { color: red; opacity: 1; } }

/* theme */
:root { --anchor-text: #000000; }
[data-theme="dark"] { --anchor-text: #ffffff; }

/* tag */
a { color: var(--anchor-text); opacity: 0.7; }
a:hover { animation: rainbow 1s infinite; }