:root { --nav-top: 100px; --nav-border: #f1f3f5; --nav-color: #868e96; --nav-active-color: #212529; }
[data-theme="dark"] { --nav-border: #2a2a2a; --nav-color: #acacac; --nav-active-color: #ececed; }

.content { position: relative; }
#inPageNavigation { position: absolute; top: var(--nav-top); left: 100%; }
#inPageNavigation nav { margin-left: 80px; padding: 4px 0; width: 240px; max-height: 80vh; overflow: hidden auto; border-left: 2px solid var(--nav-border); line-height: 1.5; font-size: 14px; color: var(--nav-color); }
#inPageNavigation nav.sticky { position: fixed; top: var(--nav-top); }
#inPageNavigation nav ul { padding-left: 12px; list-style: none; }
#inPageNavigation nav li { transform-origin: left; transition: transform 0.125s ease-in 0s; cursor: pointer; }
#inPageNavigation nav li:hover { color: var(--nav-active-color); }
#inPageNavigation nav li.active { color: var(--nav-active-color); transform: scale(1.05); }

/* tablet */
@media screen and (max-width: 1280px) {
  #inPageNavigation { display: none; }
}